<div class="container-login" ng-controller="loginCtrl">
    <div class="bg-shop"></div>
    <div class="container pd-16">
        <div class="continer-login-from">
            <form action="" class="login-form s-full-width" name="login-form">
                <div class=" head">
                    <h1> Registration Form</h1>
                </div>
                <ul class="list-input">

                    <li class="item-input"><input type="email" class="info-email wd-full" placeholder="Enter your email"
                            ng-model="email" name="email" required /></li>
                    <li class="item-input"><input type="password" class="info-number wd-full "
                            placeholder="Enter your password" ng-model="password" id="password" name="password"
                            required /></li>
                    <li class="item-input"> <a href="#">
                            <h3>Forgot your password?</h3>
                        </a></li>
                    <li class="item-input"><a type="submit" class="btn" id="to-user" ng-click="login()">Login</a>
                    </li>
                    <li class="item-input"> <span>--Or--</span></li>

                    <li class="item-input"><a href="#!register" type="cancel" class="btn btn-google"><i
                                class="fa-brands fa-google"></i>Google</a></li>


                    <li class="item-input"><a href="#!register" type="cancel" class="btn btn-twiter"><i
                                class="fa-brands fa-twitter"></i>Twiter
                        </a></li>
                    <li class="item-input"><a href="#!register" type="cancel" class="btn btn-github"><i
                                class="fa-brands fa-github"></i>Github</a></li>
                </ul>
            </form>

        </div>
    </div>


</div>