<div class="container-user" ng-controller="userCtrl">
    <div class="bg-shop"></div>
    <nav class="nav-slider__user s-full-width" ng-repeat="item in items track by $index">
        <ul class="user-list">
            <li class="user-item"><img src={{item.avata}} alt=""></li>
            <li class="user-item">
                <h3>Welcome {{item.name}}</h3>
            </li>
            <li class="user-item"> <span>Dob : {{item.dob}}</span></li>
            <li class="user-item"><span> Email : {{item.email}}</span></li>
            <li class="user-item"><span> Phone : {{item.phone}}</span></li>
            <li class="user-item"><span> Address : {{item.address}}</span></li>
            <li class="user-item"> <a href="#!shop" class=""><i class="fa-solid fa-cloud"></i>
                    History</a></li>
            <li class="user-item"> <a href="#!shop" class=""><i class="fa-solid fa-gear"></i></i>Setting</a></li>
            <li class="user-item"> <a href="#!shop" class=""><i class="fa-solid fa-bag-shopping"></i>Continue
                    Shopping</a></li>
            <li class="user-item"><a href="#!shop" ng-click="logout(item)"><i
                        class="fa-solid fa-right-from-bracket"></i>Log out</a></li>


        </ul>
    </nav>

</div>



</div>