<div class="container-cart" ng-controller="loginCtrl">
    <div class="bg-shop"></div>
    <div class="container pd-16">
        <div class="container-product">

            <div class="blog-img">
                <div class="image">
                    <img src="../images/pic-6.png" alt="">
                </div>
                <div class="content-param bd-bottom pd-8" ng-repeat=" item in getUser ">
                    <div class="blog-detail">
                        <div class="read-more-container"></div>
                        <h2 class="blog-detail-h2">Welcome {{item.name}}</h2>
                        Gender :
                        <h4 style="color: black;">{{item.gender}}</h4>
                        Day of birth :
                        <h4 style="color: black;">{{item.dob}}</h4>
                        Email :
                        <h4 style="color: black;">{{item.email}}</h4>
                        Phone number :
                        <h4 style="color: black;">{{item.phone}}</h4>
                        Address :
                        <h4 style="color: black;">{{item.address}}</h4>
                        <a href="#!shop" class="btn content-add" style="width: 100%;margin: 16px 0;">Continue
                            Shopping</a>
                        <a href="#!shop" ng-click="logout(item)" class="btn content-add"
                            style="width: 100%;margin: 16px 0;">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer-driver">
    <div class="container driver">

        <div class="wd-for driver-card">
            <i class="fa-solid fa-truck-fast"></i>
            <span>SAME DAY CAKE DELIVERY ON
                ORDERS BEFORE 3PM (MON-FRI)</span>
        </div>
        <div class="wd-for driver-card">
            <i class="fa-solid fa-clock"></i>
            <span>CHOOSE YOUR PREFERRED
                DELIVERY SLOT</span>
        </div>
        <div class="wd-for driver-card">
            <i class="fa-solid fa-user-secret"></i>
            <span>CAKES FROM BEST
                RATED LOCAL BAKERS</span>
        </div>
        <div class="wd-for driver-card">
            <i class="fa-solid fa-cake-candles"></i>
            <span>FINEST SELECTION
                OF CAKES</span>
        </div>
    </div>
</div>
</div>